<form action=""></form>
  <div class="mb-3">
    <label for="" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      name=""
      id=""
      aria-describedby="helpId"
      placeholder=""
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Peso</label>
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder=""
      aria-describedby="helpId"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Estado</label>
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder=""
      aria-describedby="helpId"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Edad</label>
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder=""
      aria-describedby="helpId"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Raza</label>
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder=""
      aria-describedby="helpId"
    />
  </div>
  
</form>