<form action="">
  <div class="mb-3">
    <label for="" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      name=""
      id="Nombre"
      aria-describedby="helpId"
      placeholder=""
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Tamaño</label>
    <input
      type="text"
      name=""
      id="Tamaño"
      class="form-control"
      placeholder=""
      aria-describedby="helpId"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Ubicacion</label>
    <input
      type="text"
      name=""
      id="Direccion"
      class="form-control"
      placeholder=""
      aria-describedby="helpId"
    />
  </div>
  
</form>