<form action="">
  <div class="mb-3">
    <label for="" class="form-label">Nombre</label>
    <input type="text" class="form-control" name="" id="Nombre" aria-describedby="helpId" placeholder="" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Peso</label>
    <input type="text" name="" id="Peso" class="form-control" placeholder="" aria-describedby="helpId" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Edad</label>
    <input type="text" name="" id="Edad" class="form-control" placeholder="" aria-describedby="helpId" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Raza</label>
    <input type="text" name="" id="Raza" class="form-control" placeholder="" aria-describedby="helpId" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Fecha de nacimiento</label>
    <input type="date" name="" id="FechaNacimiento" class="form-control" placeholder="" aria-describedby="helpId" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Tipo</label>
    <select class="form-select form-select-lg" name="" id="Tipo">
      <option selected value="CARNE">Carne</option>
      <option value="LECHE">Leche</option>
      <option value="MIXTO">Mixto</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Estado de salud</label>
    <select id="EstadoSalud" class="form-select form-select-lg" name="">
      <option value="SANO">Sano</option>
      <option value="ENFERMO">Enfermo</option>
      <option value="RECUPERANDO">Recuperando</option>
      <option value="CONVALECIENTE">Convaleciente</option>
      <option value="LESIONADO">Lesionado</option>
      <option value="DESNUTRIDO">Desnutrido</option>
      <option value="GESTANTE">Gestante</option>
      <option value="ENFERMEDAD_INFECTOCONTAGIOSA">Enfermedad Infectocontagiosa</option>
      <option value="ENFERMEDADES_METABOLICAS">Enfermedades Metabólicas</option>
      <option value="ENFERMEDADES_PARASITICAS">Enfermedades Parasitarias</option>
      <option value="ENFERMEDADES_RESPIRATORIAS">Enfermedades Respiratorias</option>
      <option value="ENFERMEDADES_DIGESTIVAS">Enfermedades Digestivas</option>
      <option value="ENFERMEDADES_REPRODUCTIVAS">Enfermedades Reproductivas</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Genero</label>
    <select class="form-select form-select-lg" name="" id="Genero">
      <option selected value="HEMBRA">Hembra</option>
      <option value="MACHO">Macho</option>
    </select>
  </div>
</form>