{% extends 'layout.html' %}

{% block content %}
<div class="hero">
  <img src="../static/images/home.jpg" alt="Cattle" />
  <div class="hero-text">
    <h2>Control en tiempo real del clima y la salud del ganado mediante tecnología punta</h2>
    <div>
      <button>Más información</button>
    </div>
  </div>
</div>
<div class="features">
  <div class="feature">
    <img src="../static/images/images.jpg" alt="Climate" />
    <h3>Control del clima</h3>
    <p>
      Control en tiempo real del clima, incluidas las precipitaciones, la temperatura y la humedad.
    </p>
  </div>
  <div class="feature">
    <img src="../static/images/healLivescop.jpg" alt="Health" />
    <h3>Análisis sanitario del ganado</h3>
    <p>
      Control en tiempo real de la salud del ganado, incluidos el peso, la temperatura y el comportamiento.
    </p>
  </div>
  <div class="feature">
    <img src="../static/images/behevior.jpg" alt="Behavior" />
    <h3>Seguimiento del comportamiento</h3>
    <p>
      Siga el comportamiento del ganado e identifique posibles problemas con antelación.
    </p>
  </div>
</div>
{% endblock %}